*.hprof
*.iml
*.pyc
*.pyo
*.rbc
*.yarb
*.yml
*.properties
*~
.DS_Store
.classpath
.git
.hg
.idea
.mvn
.project
.settings
.svn
CVS
__pycache__
_svn
bin
target
vssver.scc
vssver2.scc

.DS_store
.classpath
.project
.settings/
.idea/
*.iml
*/target/*
*/bin/*
/starter/logs/tx-order-service.log
/starter/src/main/resources/generatorConfig.xml
/logs/tx-order-service.log
/logs/tx-order-service.log.2020-02-22.0.gz
/logs/tx-order-service.log.2020-02-24.0.gz
/logs/tx-order-service.log.2020-02-25.0.gz
logs/
starter/src/main/resources/log4j2.xml